@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Bank!</h1>
    @if (User.Identity.IsAuthenticated)
    {
        if(User.HasClaim("Role", "Admin"))
        {
            <a asp-action="Index" asp-controller="Users"> Go to all user accounts </a>
        }
        else
        {
            <a asp-action="Details" asp-controller="BankAccounts" asp-route-id=@User.FindFirst("BankId").Value> Go to your bank account </a>
        }
    }
    else
    {
        <h3> Make sure to register or login to see your account!</h3>
    }
</div>
