@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&family=Wallpoet&display=swap');
/*index */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    background-color:rgb(88, 85, 88);
}



.header h1{
    color:rgb(37, 36, 37);
    text-align: center;
    font-size:80px;
    padding-bottom: 50px;
}

.wrapper h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    align-self: center;

}

.wrapper{
  
    margin: auto;
    width: 50%;
    padding: 10px;
    padding: 70px 0;
    text-align: center;
    border-radius: 20px;
    width: 500px;
    border: 2px solid rgb(150, 143, 141); 
    background-color: rgba(0,0,0,0.4);
    box-shadow: 1px 1px 5px rgb(48, 48, 47);
    display: flex;
    height:50vh;
    align-items: center;
    justify-content: center;

}

#username {
    background:none;
    margin: 20px auto;
    text-align: center;
    border: 3px solid  rgb(150, 143, 141);
    padding: 14px 35px;
    font-size: 18px;
    border-radius: 20px; 
    cursor: pointer;
}

#username:hover{
    background-color: rgb(62, 62, 61);
}

#password{
    background:none;
     margin: 20px auto;
     text-align: center;
     border: 3px solid  rgb(150, 143, 141);
     padding: 14px 35px;
     font-size: 18px;
     border-radius: 20px; 
     cursor: pointer;
}

#password:hover{
    background-color: rgb(62, 62, 61);
}


#btn {
    border: 0;
    background:none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid  rgb(150, 143, 141);
    padding: 14px 35px;
    font-size: 18px;
    color: rgb(256,256,256);
    border-radius: 20px; 
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(62, 62, 61);
}
